
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
          integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    @await RenderSectionAsync("css", required: false)
    <link rel="stylesheet" href="~/assets/scss/Home/home.css">
    

    <title>Home</title>
</head>

<body>
    <header>
        <section id="up-nav">
            <div class="container">
                <div class="row">
                    <div class="col-6 call-part">
                        <i class="fa-solid fa-phone"></i>
                        <span>Call: +0123 456 789</span>
                    </div>
                    <div class="col-6 language-part">
                        <ul>
                            <li>
                                <div class="each-detail money-part">
                                    <span>USD</span><i class="fa-solid fa-chevron-down"></i>
                                    <div class="drop-money">
                                        <ul>
                                            <li class="euro">Eur</li>
                                            <li class="usd">Usd</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="each-detail lang-part">
                                    <span class="lang-part">English</span><i class="fa-solid fa-chevron-down"></i>
                                    <div class="drop-lang">
                                        <ul>
                                            <li class="english">English</li>
                                            <li class="french">French</li>
                                            <li class="spanish">Spanish</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="each-detail">
                                    <a href="./account.html">
                                        <span>Sign in / Sign up</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 phone-part">
                        <div class="list">
                            <span>Links<i class="fa-solid fa-chevron-down"></i></span>
                            <div class="all-category">
                                <div class="money">
                                    <span class="usd">USD<i class="fa-solid fa-chevron-down"></i></span>
                                    <ul class="money-drop">
                                        <li><a href="">Eur</a></li>
                                        <li><a href="">Usd</a></li>
                                    </ul>
                                </div>
                                <div class="lang">
                                    <span class="english">English<i class="fa-solid fa-chevron-down"></i></span>
                                    <ul class="lang-drop">
                                        <li><a href="">English</a></li>
                                        <li><a href="">French</a></li>
                                        <li><a href="">Spanish</a></li>
                                    </ul>
                                </div>
                                <div class="sign">
                                    <span>Sign in / Sign up</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="down-nav">
            <div class="container">
                <div class="row">
                    <div class="col-2 logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/imgs/Home/molla-logo.png" alt=""></a>
                    </div>
                    <div class="col-6 search">
                        <i class="fa-solid fa-magnifying-glass search-btn"></i>
                        <input type="text" class="search-area" placeholder="Search product ...">
                    </div>
                    <div class="col-4 options">
                        <div class="compare">
                            <i class="fa-solid fa-shuffle"></i>
                            <span>Compare</span>
                        </div>
                        <div class="wishlist">
                            <a href="./wishlist.html">
                                <div class="wish">
                                    <sup class="wishlist-sup">0</sup>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <span>Wishlist</span>
                            </a>
                        </div>
                        <div class="cartlist">
                            <a href="./cart.html">
                                <div class="cart">
                                    <sup class="cart-sup">0</sup>
                                    <i class="fa-solid fa-cart-shopping shopping"></i>
                                </div>
                                <span>Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="down-nav-phone">
            <div class="container">
                <div class="row">
                    <div class="col-6 logo">
                        <i class="fa-solid fa-bars open"></i>
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/imgs/Home/molla-logo.png" alt=""></a>
                    </div>
                    <div class="col-6 options">
                        <div class="compare">
                            <i class="fa-solid fa-shuffle"></i>
                            <span>Compare</span>
                        </div>
                        <div class="wishlist">
                            <a href="./wishlist.html">
                                <div class="wish">
                                    <sup class="wishlist-sup">0</sup>
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <span>Wishlist</span>
                            </a>
                        </div>
                        <div class="cartlist">
                            <a href="./cart.html">
                                <div class="cart">
                                    <sup class="cart-sup">0</sup>
                                    <i class="fa-solid fa-cart-shopping shopping"></i>
                                </div>
                                <span>Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sidebar hide">
            <div class="sidebar-set">
                <div class="close-part">
                    <i class="fa-solid fa-x close"></i>
                </div>
                <div class="search container">
                    <input type="text" placeholder="Search product ...">
                    <i class="fa-solid fa-magnifying-glass search"></i>
                </div>
                <div class="tab-menu">
                    <div class="for-names">
                        <div class="names">
                            <h6 data-id="1" class="for-menu active-menu">MENU</h6>
                            <h6 data-id="2" class="for-categories">CATEGORIES</h6>
                        </div>
                    </div>
                    <div class="infos">
                        <ul data-id="1" class="for-menu elems">
                            <li><a href="">Home</a><i class="fa-solid fa-chevron-down"></i></li>
                            <li><a href="">Shop</a><i class="fa-solid fa-chevron-down"></i></li>
                            <li><a href="">Wishlist</a><i class="fa-solid fa-chevron-down"></i></li>
                            <li><a href="">Pages</a><i class="fa-solid fa-chevron-down"></i></li>
                            <li><a href="">Blog</a><i class="fa-solid fa-chevron-down"></i></li>
                            <li><a href="">Cart</a><i class="fa-solid fa-chevron-down"></i></li>
                        </ul>
                        <ul data-id="2" class="for-categories elems d-none">
                            <li><a href="">Electronics</a></li>
                            <li><a href="">Gift Ideas</a></li>
                            <li><a href="">Beds</a></li>
                            <li><a href="">Lighting</a></li>
                            <li><a href="">Sofas & Sleeper sofas</a></li>
                            <li><a href="">Storage</a></li>
                            <li><a href="">Armchairs & Chaises</a></li>
                            <li><a href="">Decoration</a></li>
                            <li><a href="">Kitchen Cabinets</a></li>
                            <li><a href="">Coffee & Tables</a></li>
                            <li><a href="">Outdoor Furniture</a></li>
                        </ul>
                    </div>
                </div>
                <div class="socials">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </section>

        <section id="main-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 burger-m">
                        <div class="not-table">
                            <i class="fa-solid fa-x x-icon"></i>
                            <i class="fa-solid fa-bars tab-menu"></i>
                            <span>Browse Categories</span>
                            <i class="fa-solid fa-chevron-down down-ch"></i>
                        </div>
                        <div class="table">
                            
                            <ul>

                                <li><a>Electronics</a></li>
                                <li>Gift Ideas</li>
                                <li>Beds</li>
                                <li>Lighting</li>
                                <li>Sofas & Sleeper sofas</li>
                                <li>Storage</li>
                                <li>Armchairs & Chaises</li>
                                <li>Decoration</li>
                                <li>Kitchen Cabinets</li>
                                <li>Coffee & Tables</li>
                                <li>Outdoor Furniture</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 categories">
                        <div class="list">
                            <ul>
                                <span class="left-side">|</span>
                                <li><a asp-controller="Home" asp-action="Index" class="home">Home</a></li>
                                <li><a asp-controller="Shop" asp-action="Index" class="cross">Shop</a></li>
                                <li><a asp-controller="Product" asp-action="Index" class="cross">Product</a></li>
                                <li class="hi" class="cross">
                                    <div>
                                        <a href="" class="pages">
                                            Pages
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </a>
                                    </div>
                                    <div class="drop-list">
                                        <ul>
                                            <li><a asp-controller="About" asp-action="Index">About</a></li>
                                            <li><a href="./contact.html">Contact</a></li>
                                            <li><a href="./account.html">Login</a></li>
                                            <li><a href="">FAQs</a></li>
                                            <li><a href="">Error 404</a></li>
                                            <li><a href="">Coming Soon</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a asp-controller="Blog" asp-action="Index" class="cross">Blog</a></li>
                                <li><a href="./cart.html" class="cross">Cart</a></li>
                                <span class="right-side">|</span>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4 bulb">
                        <i class="fa-regular fa-lightbulb"></i>
                        <span>Clearance <strong>Up to 30% Off</strong></span>
                    </div>
                </div>
            </div>
        </section>

    </header>
            @RenderBody()
    <footer>
        <section id="upF">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="logo-part">
                            <img src="~/assets/imgs/Home/molla-logo2.png" alt="">
                            <p>
                                Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna
                                eros eu erat.
                            </p>
                            <div class="contact">
                                <i class="fa-solid fa-phone"></i>
                                <div class="infos">
                                    <p>Got Question? Call us 24/7</p>
                                    <span>+0123 456 789</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="options">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><a href="./about.html">About Molla</a></li>
                                <li><a href="">Our Services</a></li>
                                <li><a href="">How to shop on Molla</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="./contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="options">
                            <h4>Customer Service</h4>
                            <ul>
                                <li><a href="">Payment Methods</a></li>
                                <li><a href="">Money-back guarantee!</a></li>
                                <li><a href="">Returns</a></li>
                                <li><a href="">Shipping</a></li>
                                <li><a href="">Terms and conditions</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="options">
                            <h4>My Account</h4>
                            <ul>
                                <li><a href="./account.html">Sign in</a></li>
                                <li><a href="./cart.html">View Cart</a></li>
                                <li><a href="./wishlist.html">My Wishlist</a></li>
                                <li><a href="">Track My Order</a></li>
                                <li><a href="">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="bottomF">
            <div class="container">
                <div class="last-infos">
                    <span>Copyright © 2023 Molla Store. All Rights Reserved.</span>
                    <img src="~/assets/imgs/Home/footer-cards.png" alt="">
                </div>
            </div>
        </section>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets//OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://kit.fontawesome.com/ba8f3ff677.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts",required:false)
    <script src="~/assets/js/home.js"></script>
    
</body>

</html>
